<!-- page-aside : 페이지별 앵커 영역 마크업 추가 예정 | 소타이틀이 없는 경우 term type-01, 소타이틀이 있는 경우 term type-02 -->
<% if (name === 'colors') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="principle">Principle</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="lightAndDarkMode">Light and Dark mode</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="basicColor">Basic Color</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="mainColor">Main Color</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="subColor">Sub Color</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="greyscale">Greyscale</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="semanticColor">Semantic Color</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="background">Background</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="popupBox">Popup box</a></li>
    </ul>
</div>
<% } else if (name === 'typography') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="typeface">Typeface</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="components">Components</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="heading">Heading</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="title">Title</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="body">Body</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="detail">Detail</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="label">Label</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="link">Link</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="fontSizes">Font sizes</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="fontWeight">Font weight</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="lineHeight">Line height</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="headingAndDetail">Heading and detail</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="bodyAndCode">Body and code</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="component">Component</a></li>
    </ul>
</div>
<% } else if (name === 'layout') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="responsiveLayoutGrid">Responsive layout grid</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="breakPoint">Break point</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="contentsArea">Contents area</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="spacing">Spacing</a></li>
    </ul>
</div>
<% } else if (name === 'object-styles') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="radius">Radius</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="smallRounding">Small rounding</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="defaultRounding">Default rounding</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="etcRounding">ETC rounding</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="fullRounding">Full rounding</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="borderWidth">Border width</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="shadow">Shadow</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="defaultShadow">Default shadow</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="onLightGray">On Light Gray</a></li>
    </ul>
</div>
<% } else if (name === 'principles') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="designPrinciples">디자인 원칙</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="planOfPrinciple">원칙을 따르기 위한 주요 방안</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="responsive">Responsive</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="accessibility">Accessibility</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="visualHierarchy">Visual Hierarchy</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="meaningfulText">Meaningful text</a></li>
    </ul>
</div>
<% } else if (name === 'content-design') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="contentDesign">콘텐츠 디자인이란?</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="bestPractice">모범 사례</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="altTextShort">대체 텍스트는 짧게</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="chartSummary">차트와 그래프는 요약해서 작성</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="plainLanguage">평범한 언어를 사용</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="userFlow">사용자 시각의 흐름</a></li>
    </ul>
</div>
<% } else if (name === 'design-tokens') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="designToken">디자인 토큰이란?</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="globalTokens">Global tokens</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="aliasTokens">Alias tokens</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="theming">Theming</a></li>
    </ul>
</div>
<% } else if (name === 'top-navigation') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'button-navigation') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'navigation-drawer') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'footer') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'box-button') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="">Anatomy</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="">Options</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Label and icon</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">variant</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Primary variant</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Secondary variant</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Action Variant</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Disabled</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Loading</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Icon</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">On/Off states</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="">Size</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="">Behaviors</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Focus</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Flexible width</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Overflow</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="">Usage</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Guideline</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">High-contrast mode</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Fixing the bottom</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="">Code</a></li>
    </ul>
</div>
<% } else if (name === 'text-button') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="">Anatomy</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="">Options</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Text Only</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Text + Icon</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Underlined</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="">Usage guidelines</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">화면 판독기 지원</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">문장 내 사용</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">직관적인 경험</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="">Code</a></li>
    </ul>
</div>
<% } else if (name === 'tab-button') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="">Anatomy</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="">Options</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Label</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Stage</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">States</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Pading</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">Margin</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="">Element Type</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">항목 수</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">측면 여백</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="">Usage</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">표시될 콘텐츠가 없는 경우</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">여러 개의 탭을 중첩하는 경우</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="">탭의 항목 수가 많을 경우</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="">Code</a></li>
    </ul>
</div>
<% } else if (name === 'icon-button') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'select-button') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'tag') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'text-field') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'dropdown') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'search') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'table') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'data-list') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'accordion') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'layer-popup') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'alert-snackbar') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'tooltip') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'thumbnail') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } else if (name === 'loading') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor" data-link=""></a></li>
    </ul>
</div>
<% } %>
<!-- //page-aside -->