//reset
* {
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    color: inherit;
    font-style: normal;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-all;
    touch-action: auto;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
}

*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    font-family: "HGGGothicssi", sans-serif;
    letter-spacing: 0;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

ul,
ol,
li {
    list-style: none;
}

em,
i,
cite,
code,
address {
    font-weight: normal;
    font-style: normal;
}

a,
u,
ins {
    color: inherit;
    text-decoration: none;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
}

//page css
.h-point-christmas {
    &.modal-show {
        overflow: hidden;
    }
    .section {
        &.intro {
            position: relative;
            width: 100%;
            padding-bottom: 161.333%;
            z-index: 99;
            overflow: hidden;
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: url('../../assets/images/h-point-christmas/intro-bg.png') no-repeat center center;
                background-size: cover;
            }
            img {
                display: block;
                width: 100%;
            }
            .intro-figure {
                position: absolute;
                &.shawl {
                    top: 0;
                    left: 0;
                    z-index: 9;
                    width: 100%;
                }
                &.moon {
                    top: 1.7%;
                    left: 53.2%;
                    width: 18.666%;
                    transform: translateX(-50%);
                    z-index: 10;
                }
                &.curtain {
                    top: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    // height: 92.597%;
                    height: 100%;
                    .curtain-item {
                        position: absolute;
                        top: 0;
                        width: 50%;
                        height: 100%;
                        transition: 0.7s ease-in;
                        &.left {
                            left: -1%;
                            transform-origin: bottom left;
                            img {
                                transform-origin: top left;
                                animation: swaying-curtain1 2s infinite linear;
                            }
                        }
                        &.right {
                            right: -1%;
                            transform-origin: bottom right;
                            img {
                                transform-origin: top right;
                                animation: swaying-curtain2 2s infinite linear;
                            }
                        }
                        img {
                            will-change: transform;
                            width: 107.5%;
                            height: 100%;
                        }
                    }
                    &.active1 {
                        .curtain-item {
                            &.left {
                                transform: skewY(-1deg) skewX(9deg);
                            }
                            &.right {
                                transform: skewY(1deg) skewX(-9deg);
                            }
                        }
                    }
                    &.active2 {
                        .curtain-item {
                            width: 20%;
                            transition: 3s cubic-bezier(0.225, 0.545, 0.220, 0.660);
                            // transition: 2.5s ease;
                            &.left {
                                left: -50%;
                                transform: skewY(0deg) skewX(3deg);
                            }
                            &.right {
                                right: -50%;
                                transform: skewY(0deg) skewX(-3deg);
                            }
                        }
                    }
                }
            }
        }
        &.anchor-area {
            position: sticky;
            top: 0;
            width: 100%;
            padding-bottom: 31.733vw;
            margin-top: -3vw;
            z-index: 98;

            background-image: url('../../assets/images/h-point-christmas/anchor-head-off.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            .anchor-list {
                position: absolute;
                top: 57%;
                left: 50%;
                transform: translate(-50%,-50%);
                display: flex;
                align-items: center;
                justify-content: space-between;
                z-index: 99;
                .anchor-item {
                    display: block;
                    width: 29.866vw;
                    height: 20.533vw;
                }
            }
            &::after {
                content: '';
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                position: absolute;
                display: block;
                top: 0;
                height: 100%;
            }
            &.intro-section {
                &::after {
                    background-image: url('../../assets/images/h-point-christmas/anchor-head-intro.png');
                }
            }
            &.contents-section {
                &::after {
                    background-image: url('../../assets/images/h-point-christmas/anchor-head-contents.png');
                }
            }
            &.calendar-section {
                &::after {
                    background-image: url('../../assets/images/h-point-christmas/anchor-head-calendar.png');
                }
            }
        }
        &.contents {
            position: relative;
            width: 100%;
            margin-top: -29%;
            padding-bottom: 13.333%;
            z-index: 97;
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: url('../../assets/images/h-point-christmas/contents-bg.png') no-repeat center center;
                background-size: cover;
            }
            .section-head {
                position: relative;
                
                .section-subject {
                    padding-top: calc(32.266% + 5.333%);
                    width: 65.6%;
                    margin: 0 auto;
                    img {
                        width: 100%;
                    }
                }
            }
            .section-body {
                position: relative;
                padding: 0 5.333%;
                z-index: 1;
                .data-list {
                    .data-item {
                        &:nth-child(2) {
                            margin-top: 4.533%;
                        }
                        &:last-child {
                            margin-top: 5.333%;
                        }
                    }
                    .data-link {
                        display: block;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        &.calendar {
            position: relative;
            width: 100%;
            padding-bottom: 11.733vw;
            z-index: 97;
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: url('../../assets/images/h-point-christmas/calendar-bg.png') no-repeat center center;
                background-size: cover;
            }
            &::after {
                content: '';
                width: 100%;
                height: 262.266vw;
                position: absolute;
                bottom: -9.5vw;
                left: 0;
                background: url('../../assets/images/h-point-christmas/calendar-friends.png') no-repeat center center;
                background-size: cover;
                pointer-events: none;
            }
            .section-head {
                position: relative;
                padding-top: 13.333%;
                .section-subject {
                    width: 86.666vw;
                    margin: 0 auto;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
                + .section-body {
                    margin-top: 40vw;
                }
            }
            .section-body {
                width: 100%;
                position: relative;
                .calendar-wrap {
                    width: 89.333vw;
                    height: 0;
                    padding-bottom: 212.8vw;
                    margin: 0 auto;
                    position: relative;
                    &::after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        background: url('../../assets/images/h-point-christmas/calendar-grid-bg.png') no-repeat top center;
                        background-size: cover;
                        pointer-events: none;
                    }
                    .calendar-head {
                        position: absolute;
                        top: -29.333vw;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        z-index: 99;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        .tip {
                            width: 74.4vw;
                            position: relative;
                            margin: 0 auto;
                            img {
                                width: 100%;
                                display: block;
                            }
                        }
                        .subject {
                            display: block;
                            color: #FFF;
                            font-size: 5.333vw;
                            font-weight: 400;
                            line-height: 150%;
                            text-align: center;
                            margin-top: 13.333vw;
                            .accent {
                                color: #FFEFA5;
                                font-weight: 800;
                                border-bottom: 1px solid #FFEFA5;
                            }
                            + .progress {
                                margin-top: 5.333vw;
                            }
                        }
                        .progress {
                            
                            
                            .bar-wrap {
                                width: 74.933vw;
                                height: 3.2vw;
                                margin: 0 auto;
                                border-radius: 8vw;
                                background-color: #641009;
                                position: relative;
                                &::after {
                                    right: 1.066vw;
                                }
                                .bar-gauge {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    // width: calc(100% / 3);
                                    height: 3.2vw;
                                    border-radius: 8vw;
                                    background-color: #FFDE68;
                                    &::after {
                                        left: 1.066vw;
                                    }
                                    &::before {
                                        content: '';
                                        width: 7.2vw;
                                        height: 8.8vw;
                                        background: url('../../assets/images/h-point-christmas/progress-bear.png') no-repeat center center;
                                        background-size: cover;
                                        position: absolute;
                                        top: 64%;
                                        right: -4.266vw;
                                        transform: translateY(-50%);
                                    }
                                }
                                &::after,
                                .bar-gauge::after {
                                    content: '';
                                    width: 1.6vw;
                                    height: 1.6vw;
                                    background: url('../../assets/images/h-point-christmas/progress-start.svg') no-repeat center center;
                                    background-size: cover;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                                + .date-wrap {
                                    margin-top: 1.6vw;
                                }
                            }
                            .date-wrap {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                .date {
                                    &.start {
                                        color: #FFF3A5;
                                        font-size: 3.733vw; 
                                        font-weight: 400;
                                        line-height: 130%;
                                    }
                                    &.end {
                                        color: #641009;
                                        line-height: 130%;
                                    }
                                    .num {
                                        font-size: 4.266vw;
                                        font-weight: 800;
                                    }
                                    .day {
                                        font-size: 3.733vw; 
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                    .calendar-body {
                        .day-list {
                            width: 82.933vw;
                            display: grid;
                            grid-template-columns: 12vw 18.4vw 11.2vw 17.333vw 3.733vw 20.266vw;
                            grid-template-rows: 11.2vw repeat(3, 16vw) repeat(2, 11.2vw) repeat(3, 16vw) repeat(3, 11.2vw);
                            grid-column-gap: 0px;
                            grid-row-gap: 0px;
                            margin: 0 auto;
                            padding-top: 46.6vw;
                        }
                        .day-item {
                            display: block;
                            border: 2px solid #3F0B0B;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center center;
                            img {
                                display: block;
                                width: 100%;
                            }
                            &.on {
                                border: 2px solid #5E190E;
                            }

                            //375기준에 맞춰서 height vw로!
                            //grid-area: <start-row> / <start-column> / <end-row> / <end-column>;
                            
                            @for $i from 1 through 24 {
                                &.item#{$i} {
                                    background-image: url('../../assets/images/h-point-christmas/day-#{$i}-off.png');

                                    &.on {
                                        background-image: url('../../assets/images/h-point-christmas/day-#{$i}-on.png');
                                    }
                                }
                            }

                            &.item1 {
                                grid-area: 1 / 1 / 2 / 4;
                            }
                            &.item2 {
                                grid-area: 1 / 4 / 2 / 7;
                            }
        
                            &.item3 {
                                grid-area: 2 / 1 / 3 / 3;
                            }
        
                            &.item4 {
                                grid-area: 3 / 1 / 4 / 3;
                            }
        
                            &.item5 {
                                grid-area: 4 / 1 / 5 / 3;
                            }
        
                            &.item6 {
                                grid-area: 2 / 3 / 5 / 4;
                            }
        
                            &.item7 {
                                grid-area: 2 / 4 / 3 / 6;
                            }
        
                            &.item8 {
                                grid-area: 3 / 4 / 5 / 6;
                            }
        
                            &.item9 {
                                grid-area: 2 / 6 / 5 / 7;
                            }
        
                            &.item10 {
                                grid-area: 5 / 1 / 7 / 3;
                            }
        
                            &.item11 {
                                grid-area: 5 / 3 / 6 / 7;
                            }
        
                            &.item12 {
                                grid-area: 6 / 3 / 7 / 7;
                            }
        
                            &.item13 {
                                grid-area: 7 / 1 / 10 / 2;
                            }
        
                            &.item14 {
                                border: 2px solid #651111;
                                &.on {
                                    border: 2px solid #982716;
                                }
                            }
        
                            &.item15 {
                                grid-area: 8 / 2 / 10 / 3;
                            }
        
                            &.item16 {
                                grid-area: 7 / 3 / 10 / 5;
                            }
        
                            &.item17 {
                                grid-area: 7 / 5 / 8 / 7;
                            }
        
                            &.item18 {
                                grid-area: 8 / 5 / 9 / 7;
                            }
        
                            &.item19 {
                                grid-area: 9 / 5 / 10 / 7;
                            }
        
                            &.item20 {
                                grid-area: 10 / 1 / 11 / 4;
                            }
        
                            &.item21 {
                                grid-area: 10 / 4 / 11 / 7;
                            }
        
                            &.item22 {
                                grid-area: 11 / 1 / 13 / 3;
                            }
        
                            &.item23 {
                                grid-area: 11 / 3 / 12 / 7;
                            }
        
                            &.item24 {
                                grid-area: 12 / 3 / 13 / 7;
                            }
                        }
                    }
                }
                + .section-util {
                    margin-top: 10.666vw;
                }
            }
            .section-util {
                position: relative;
                z-index: 1;
                .btn {
                    display: block;
                    position: relative;
                    margin: 0 auto;
                    width: 89.333vw;
                    height: 18.133vw;
                    .btn-text {
                        font-size: 5.333vw;
                        font-weight: 800;
                        line-height: 150%;
                        text-align: center;
                        color: #FFF;
                        width: 100%;

                        position: absolute;
                        top: 46%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: url('../../assets/images/h-point-christmas/check-button.png') no-repeat center center;
                        background-size: cover;
                    }
                }
            }
        }
        &.notice {
            background-color: #131E22;
            padding: 8vw 5.333vw;
            z-index: 97;
            .notice-list {
                .list-item {
                    position: relative;
                    padding-left: 2.666vw;
                    font-weight: 400;
                    font-size: 3.466vw;
                    line-height: 130%;
                    color: #BBB;
                    + .list-item {
                        margin-top: 2.666vw;
                    }
                    &::before {
                        content: '';
                        width: 1.066vw;
                        height: 1.066vw;
                        position: absolute;
                        top: 1.733vw;
                        left: 0;
                        background-color: #bbb;
                        border-radius: 100%;
                    }
                }
            }
        }
    }

    //팝업
    .modal-display {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.9);
        pointer-events: none;
        z-index: 9999;
        &.show {
            display: block;
        }
        .modal {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            &.design1 {
                .modal-inner {
                    width: 91.466vw;
                    height: 92.317vh;
                    border: 2px solid #F0DFA9;
                    border-radius: 4px;
                    position: relative;
                    background: url('../../assets/images/h-point-christmas/modal-bg-color.png') no-repeat center center;
                    background-size: cover;
                    pointer-events: auto;

                    //팝업 내용 길어서 넣음
                    overflow: hidden;
                    overflow-y: auto;
                    // padding-bottom: 8.462vh;
                    padding-bottom: 5vw;
                    &::before,
                    &::after {
                        content: "";
                        width: 100%;
                        position: absolute;
                        z-index: 1;
                    }
                    &::before {
                        height: 49.6vw;
                        background: url(../../assets/images/h-point-christmas/modal-shawl.png) no-repeat center center;
                        background-size: cover;
                        top: 0;
                        left: 0;
                    }
                    &::after {
                        height: 57.866vw;
                        background: url(../../assets/images/h-point-christmas/modal-bg-star.png) no-repeat center center;
                        background-size: cover;
                        top: 47.466vw;
                        left: 0;
                    }
                }
                .modal-area {
                    display: none;
                    position: relative;
                    z-index: 99;
                    &.on {
                        display: block;
                    }
                    
                    //선물상자
                    &.gift-box {
                        .modal-figure {
                            position: absolute;
                            // top: 23.413vh; // 166/709*100
                            top: 60.266vw; // 166/375*100
                            left: 50%;
                            transform: translateX(-50%);
                            animation: box-vibration 0.3s ease infinite alternate;
                            .gift-btn {
                                display: block;
                                width: 47.466vw;
                                height: 35.2vw;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .modal-inform {
                            margin-top: 119.733vw; //449/375*100
                        }
                    }

                    //포인트 당첨 : 축하합니다! (이미지마다 위치가 달라서 수정 필요해보임)
                    //vh : 709기준
                    &.case1 {
                        .modal-figure {
                            width: 100%;
                            position: absolute;
                            // top: 17.207vh;
                            top: 32.533vw; // 122/375*100
                            left: 50%;
                            transform: translateX(-50%);
                            img {
                                width: 100%;
                            }
                        }
                        .modal-fuc {
                            .fuc-btn {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 74.666vw;
                                padding: 4.266vw;
                                border-radius: 100px;
                                border: 1px solid #FFF5B1;
                                background: linear-gradient(0deg, #9A150F 0%, #9A150F 100%), linear-gradient(92deg, #CBAC64 13.18%, #BC8641 90.15%);
                                .btn-text {
                                    text-align: center;
                                    font-size: 5.333vw;
                                    font-weight: 400;
                                    line-height: 150%;
                                    color: #fff;
                                }
                            }
                        }
                    }

                    .modal-wrap {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                    }
                    .modal-inform {
                        // margin-top: 54.866vh;
                        margin-top: 103.733vw; //389/375*100
                        .modal-head {
                            .modal-subject {
                                display: block;
                                font-size: 6.933vw;
                                font-weight: 800;
                                line-height: 150%;
                                color: #fff;
                                text-align: center;
                            }
                            + .modal-body {
                                margin-top: 6.4vw;
                            }
                        }
                        .modal-body {
                            min-height: 31.466vw;
                            .para {
                                font-size: 4.266vw;
                                font-weight: 400;
                                line-height: 150%;
                                color: #DDD;
                                text-align: center;
                            }
                            .bullet-list {
                                width: 75.733vw;
                                padding: 4.266vw;
                                background-color: rgba(0, 0, 0, 0.3);
                                .bullet-item {
                                    position: relative;
                                    padding-left: 2.133vw;
                                    font-size: 3.466vw;
                                    line-height: 150%;
                                    color: #DDD;
                                    + .bullet-item {
                                        margin-top: 1.6vw;
                                    }
                                    &::before {
                                        content: '';
                                        width: 0.8vw;
                                        height: 0.8vw;
                                        border-radius: 100%;
                                        background-color: #DDD;
                                        position: absolute;
                                        left: 0;
                                        top: 2vw;
                                    }
                                }
                            }
                        }
                        + .modal-fuc {
                            margin-top: 10.666vw;
                        }
                    }
                }
            }
        }
    }
    @keyframes swaying-curtain1 {
        0% {transform: rotate(-0.15deg);}
        50% {transform: rotate(0.15deg);}
        100% {transform: rotate(-0.15deg);}
    }
    @keyframes swaying-curtain2 {
        0% {transform: rotate(0.15deg);}
        50% {transform: rotate(-0.15deg);}
        100% {transform: rotate(0.15deg);}
    }
    @keyframes box-vibration {
        // from {
        //     transform: translateX(-50%) rotate(2deg);
        // }
        // to {
        //     transform: translateX(-50%) rotate(-2deg);
        // }
        100%{
            top: translateX(-50%) -20px;
        }
    }
}