/* font-family:"HGGGothicssi" */
@font-face {
    font-family:"HGGGothicssi";
    font-weight:100;
    font-style:normal;
    src:url('../fonts/HGGGothicssi/HGGGothicssi-00g.woff2') format('woff2'),
        url('../fonts/HGGGothicssi/HGGGothicssi-00g.woff') format('woff'),
        url('../fonts/HGGGothicssi/HGGGothicssi-00g.otf') format('opentype'),
        url('../fonts/HGGGothicssi/HGGGothicssi-00g.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family:"HGGGothicssi";
    font-weight:200;
    font-style:normal;
    src:url('../fonts/HGGGothicssi/HGGGothicssi-20g.woff2') format('woff2'),
        url('../fonts/HGGGothicssi/HGGGothicssi-20g.woff') format('woff'),
        url('../fonts/HGGGothicssi/HGGGothicssi-20g.otf') format('opentype'),
        url('../fonts/HGGGothicssi/HGGGothicssi-20g.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family:"HGGGothicssi";
    font-weight:400;
    font-style:normal;
    src:url('../fonts/HGGGothicssi/HGGGothicssi-40g.woff2') format('woff2'),
        url('../fonts/HGGGothicssi/HGGGothicssi-40g.woff') format('woff'),
        url('../fonts/HGGGothicssi/HGGGothicssi-40g.otf') format('opentype'),
        url('../fonts/HGGGothicssi/HGGGothicssi-40g.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family:"HGGGothicssi";
    font-weight:600;
    font-style:normal;
    src:url('../fonts/HGGGothicssi/HGGGothicssi-60g.woff2') format('woff2'),
        url('../fonts/HGGGothicssi/HGGGothicssi-60g.woff') format('woff'),
        url('../fonts/HGGGothicssi/HGGGothicssi-60g.otf') format('opentype'),
        url('../fonts/HGGGothicssi/HGGGothicssi-60g.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family:"HGGGothicssi";
    font-weight:800;
    font-style:normal;    
    src:url('../fonts/HGGGothicssi/HGGGothicssi-80g.woff2') format('woff2'),
        url('../fonts/HGGGothicssi/HGGGothicssi-80g.woff') format('woff'),
        url('../fonts/HGGGothicssi/HGGGothicssi-80g.otf') format('opentype'),
        url('../fonts/HGGGothicssi/HGGGothicssi-80g.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family:"HGGGothicssi";
    font-weight:900;
    font-style:normal;    
    src:url('../fonts/HGGGothicssi/HGGGothicssi-99g.woff2') format('woff2'),
        url('../fonts/HGGGothicssi/HGGGothicssi-99g.woff') format('woff'),
        url('../fonts/HGGGothicssi/HGGGothicssi-99g.otf') format('opentype'),
        url('../fonts/HGGGothicssi/HGGGothicssi-99g.ttf') format("truetype");
    font-display: swap;
}