<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="wrap" class="main">
		<%-include('../_templates/_header.ejs', { type: 'main' , }) %>
		<div class="sk-main" id="main">
			<div class="main-inner">
				<section class="section">
					<div class="section-wrap">
						<div class="section-head">
							<h3 class="section-name"> </h3>
						</div>
						<div class="section-body">

						</div>
					</div>
				</section>
				<section class="section">
					<div class="section-wrap">
						<div class="section-head">
							<h3 class="section-name"> </h3>
						</div>
						<div class="section-body">

						</div>
					</div>
				</section>
				<section class="section">
					<div class="section-wrap">
						<div class="section-head">
							<h3 class="section-name"> </h3>
						</div>
						<div class="section-body">

						</div>
					</div>
				</section>
				<section class="section">
					<div class="section-wrap">
						<div class="section-head">
							<h3 class="section-name"> </h3>
						</div>
						<div class="section-body">

						</div>
					</div>
				</section>
			</div>
		</div>
		<%-include('../_templates/_footer.ejs') %>
	</div>
</body>
</html>
