* {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  color: inherit;
  font-style: normal;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-all;
  touch-action: auto;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
}

*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: "HGGGothicssi", sans-serif;
  letter-spacing: 0;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

ul,
ol,
li {
  list-style: none;
}

em,
i,
cite,
code,
address {
  font-weight: normal;
  font-style: normal;
}

a,
u,
ins {
  color: inherit;
  text-decoration: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.h-point-christmas.modal-show {
  overflow: hidden;
}
.h-point-christmas .section.intro {
  position: relative;
  width: 100%;
  padding-bottom: 161.333%;
  z-index: 99;
  overflow: hidden;
}
.h-point-christmas .section.intro::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../assets/images/h-point-christmas/intro-bg.png") no-repeat center center;
  background-size: cover;
}
.h-point-christmas .section.intro img {
  display: block;
  width: 100%;
}
.h-point-christmas .section.intro .intro-figure {
  position: absolute;
}
.h-point-christmas .section.intro .intro-figure.shawl {
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}
.h-point-christmas .section.intro .intro-figure.moon {
  top: 1.7%;
  left: 53.2%;
  width: 18.666%;
  transform: translateX(-50%);
  z-index: 10;
}
.h-point-christmas .section.intro .intro-figure.curtain {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.h-point-christmas .section.intro .intro-figure.curtain .curtain-item {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  transition: 0.7s ease-in;
}
.h-point-christmas .section.intro .intro-figure.curtain .curtain-item.left {
  left: -1%;
  transform-origin: bottom left;
}
.h-point-christmas .section.intro .intro-figure.curtain .curtain-item.left img {
  transform-origin: top left;
  animation: swaying-curtain1 2s infinite linear;
}
.h-point-christmas .section.intro .intro-figure.curtain .curtain-item.right {
  right: -1%;
  transform-origin: bottom right;
}
.h-point-christmas .section.intro .intro-figure.curtain .curtain-item.right img {
  transform-origin: top right;
  animation: swaying-curtain2 2s infinite linear;
}
.h-point-christmas .section.intro .intro-figure.curtain .curtain-item img {
  will-change: transform;
  width: 107.5%;
  height: 100%;
}
.h-point-christmas .section.intro .intro-figure.curtain.active1 .curtain-item.left {
  transform: skewY(-1deg) skewX(9deg);
}
.h-point-christmas .section.intro .intro-figure.curtain.active1 .curtain-item.right {
  transform: skewY(1deg) skewX(-9deg);
}
.h-point-christmas .section.intro .intro-figure.curtain.active2 .curtain-item {
  width: 20%;
  transition: 3s cubic-bezier(0.225, 0.545, 0.22, 0.66);
}
.h-point-christmas .section.intro .intro-figure.curtain.active2 .curtain-item.left {
  left: -50%;
  transform: skewY(0deg) skewX(3deg);
}
.h-point-christmas .section.intro .intro-figure.curtain.active2 .curtain-item.right {
  right: -50%;
  transform: skewY(0deg) skewX(-3deg);
}
.h-point-christmas .section.anchor-area {
  position: sticky;
  top: 0;
  width: 100%;
  padding-bottom: 31.733vw;
  margin-top: -3vw;
  z-index: 98;
  background-image: url("../../assets/images/h-point-christmas/anchor-head-off.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.h-point-christmas .section.anchor-area .anchor-list {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}
.h-point-christmas .section.anchor-area .anchor-list .anchor-item {
  display: block;
  width: 29.866vw;
  height: 20.533vw;
}
.h-point-christmas .section.anchor-area.intro-section {
  background-image: url("../../assets/images/h-point-christmas/anchor-head-intro.png");
}
.h-point-christmas .section.anchor-area.contents-section {
  background-image: url("../../assets/images/h-point-christmas/anchor-head-contents.png");
}
.h-point-christmas .section.anchor-area.calendar-section {
  background-image: url("../../assets/images/h-point-christmas/anchor-head-calendar.png");
}
.h-point-christmas .section.contents {
  position: relative;
  width: 100%;
  margin-top: -29%;
  padding-bottom: 13.333%;
  z-index: 97;
}
.h-point-christmas .section.contents::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../assets/images/h-point-christmas/contents-bg.png") no-repeat center center;
  background-size: cover;
}
.h-point-christmas .section.contents .section-head {
  position: relative;
}
.h-point-christmas .section.contents .section-head .section-subject {
  padding-top: 37.599%;
  width: 65.6%;
  margin: 0 auto;
}
.h-point-christmas .section.contents .section-head .section-subject img {
  width: 100%;
}
.h-point-christmas .section.contents .section-body {
  position: relative;
  padding: 0 5.333%;
  z-index: 1;
}
.h-point-christmas .section.contents .section-body .data-list .data-item:nth-child(2) {
  margin-top: 4.533%;
}
.h-point-christmas .section.contents .section-body .data-list .data-item:last-child {
  margin-top: 5.333%;
}
.h-point-christmas .section.contents .section-body .data-list .data-link {
  display: block;
}
.h-point-christmas .section.contents .section-body .data-list .data-link img {
  width: 100%;
}
.h-point-christmas .section.calendar {
  position: relative;
  width: 100%;
  padding-bottom: 11.733vw;
  z-index: 97;
}
.h-point-christmas .section.calendar::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../assets/images/h-point-christmas/calendar-bg.png") no-repeat center center;
  background-size: cover;
}
.h-point-christmas .section.calendar::after {
  content: "";
  width: 100%;
  height: 262.266vw;
  position: absolute;
  bottom: -9.5vw;
  left: 0;
  background: url("../../assets/images/h-point-christmas/calendar-friends.png") no-repeat center center;
  background-size: cover;
  pointer-events: none;
}
.h-point-christmas .section.calendar .section-head {
  position: relative;
  padding-top: 13.333%;
}
.h-point-christmas .section.calendar .section-head .section-subject {
  width: 86.666vw;
  margin: 0 auto;
}
.h-point-christmas .section.calendar .section-head .section-subject img {
  display: block;
  width: 100%;
}
.h-point-christmas .section.calendar .section-head + .section-body {
  margin-top: 8.533vw;
}
.h-point-christmas .section.calendar .section-body {
  width: 100%;
  position: relative;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap {
  width: 89.333vw;
  height: 0;
  padding-bottom: 212.8vw;
  margin: 0 auto;
  position: relative;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url("../../assets/images/h-point-christmas/calendar-grid-bg.png") no-repeat top center;
  background-size: cover;
  pointer-events: none;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head {
  position: absolute;
  top: 11.466vw;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .tip {
  width: 64.266vw;
  height: 18.133vw;
  position: absolute;
  top: -17.2vw;
  left: 50%;
  transform: translateX(-50%);
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .tip img {
  width: 100%;
  display: block;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .subject {
  display: block;
  color: #FFF;
  font-size: 5.333vw;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .subject .accent {
  color: #FFEFA5;
  font-weight: 800;
  border-bottom: 1px solid #FFEFA5;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .subject + .progress {
  margin-top: 5.333vw;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .progress .bar-wrap {
  width: 74.933vw;
  height: 3.2vw;
  margin: 0 auto;
  border-radius: 8vw;
  background-color: #641009;
  position: relative;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .progress .bar-wrap::after {
  right: 1.066vw;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .progress .bar-wrap .bar-gauge {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.2vw;
  border-radius: 8vw;
  background-color: #FFDE68;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .progress .bar-wrap .bar-gauge::after {
  left: 1.066vw;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .progress .bar-wrap .bar-gauge::before {
  content: "";
  width: 7.2vw;
  height: 8.8vw;
  background: url("../../assets/images/h-point-christmas/progress-bear.png") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 64%;
  right: -4.266vw;
  transform: translateY(-50%);
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .progress .bar-wrap::after,
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .progress .bar-wrap .bar-gauge::after {
  content: "";
  width: 1.6vw;
  height: 1.6vw;
  background: url("../../assets/images/h-point-christmas/progress-start.svg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .progress .bar-wrap + .date-wrap {
  margin-top: 1.6vw;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .progress .date-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .progress .date-wrap .date.start {
  color: #FFF3A5;
  font-size: 3.733vw;
  font-weight: 400;
  line-height: 130%;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .progress .date-wrap .date.end {
  color: #641009;
  line-height: 130%;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .progress .date-wrap .date .num {
  font-size: 4.266vw;
  font-weight: 800;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-head .progress .date-wrap .date .day {
  font-size: 3.733vw;
  font-weight: 600;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-list {
  width: 82.933vw;
  display: grid;
  grid-template-columns: 12vw 18.4vw 11.2vw 17.333vw 3.733vw 20.266vw;
  grid-template-rows: 11.2vw repeat(3, 16vw) repeat(2, 11.2vw) repeat(3, 16vw) repeat(3, 11.2vw);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 auto;
  padding-top: 46.6vw;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item {
  display: block;
  border: 2px solid #3F0B0B;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item img {
  display: block;
  width: 100%;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.on {
  border: 2px solid #5E190E;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item1 {
  background-image: url("../../assets/images/h-point-christmas/day-1-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item1.on {
  background-image: url("../../assets/images/h-point-christmas/day-1-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item2 {
  background-image: url("../../assets/images/h-point-christmas/day-2-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item2.on {
  background-image: url("../../assets/images/h-point-christmas/day-2-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item3 {
  background-image: url("../../assets/images/h-point-christmas/day-3-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item3.on {
  background-image: url("../../assets/images/h-point-christmas/day-3-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item4 {
  background-image: url("../../assets/images/h-point-christmas/day-4-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item4.on {
  background-image: url("../../assets/images/h-point-christmas/day-4-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item5 {
  background-image: url("../../assets/images/h-point-christmas/day-5-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item5.on {
  background-image: url("../../assets/images/h-point-christmas/day-5-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item6 {
  background-image: url("../../assets/images/h-point-christmas/day-6-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item6.on {
  background-image: url("../../assets/images/h-point-christmas/day-6-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item7 {
  background-image: url("../../assets/images/h-point-christmas/day-7-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item7.on {
  background-image: url("../../assets/images/h-point-christmas/day-7-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item8 {
  background-image: url("../../assets/images/h-point-christmas/day-8-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item8.on {
  background-image: url("../../assets/images/h-point-christmas/day-8-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item9 {
  background-image: url("../../assets/images/h-point-christmas/day-9-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item9.on {
  background-image: url("../../assets/images/h-point-christmas/day-9-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item10 {
  background-image: url("../../assets/images/h-point-christmas/day-10-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item10.on {
  background-image: url("../../assets/images/h-point-christmas/day-10-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item11 {
  background-image: url("../../assets/images/h-point-christmas/day-11-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item11.on {
  background-image: url("../../assets/images/h-point-christmas/day-11-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item12 {
  background-image: url("../../assets/images/h-point-christmas/day-12-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item12.on {
  background-image: url("../../assets/images/h-point-christmas/day-12-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item13 {
  background-image: url("../../assets/images/h-point-christmas/day-13-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item13.on {
  background-image: url("../../assets/images/h-point-christmas/day-13-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item14 {
  background-image: url("../../assets/images/h-point-christmas/day-14-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item14.on {
  background-image: url("../../assets/images/h-point-christmas/day-14-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item15 {
  background-image: url("../../assets/images/h-point-christmas/day-15-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item15.on {
  background-image: url("../../assets/images/h-point-christmas/day-15-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item16 {
  background-image: url("../../assets/images/h-point-christmas/day-16-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item16.on {
  background-image: url("../../assets/images/h-point-christmas/day-16-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item17 {
  background-image: url("../../assets/images/h-point-christmas/day-17-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item17.on {
  background-image: url("../../assets/images/h-point-christmas/day-17-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item18 {
  background-image: url("../../assets/images/h-point-christmas/day-18-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item18.on {
  background-image: url("../../assets/images/h-point-christmas/day-18-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item19 {
  background-image: url("../../assets/images/h-point-christmas/day-19-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item19.on {
  background-image: url("../../assets/images/h-point-christmas/day-19-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item20 {
  background-image: url("../../assets/images/h-point-christmas/day-20-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item20.on {
  background-image: url("../../assets/images/h-point-christmas/day-20-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item21 {
  background-image: url("../../assets/images/h-point-christmas/day-21-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item21.on {
  background-image: url("../../assets/images/h-point-christmas/day-21-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item22 {
  background-image: url("../../assets/images/h-point-christmas/day-22-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item22.on {
  background-image: url("../../assets/images/h-point-christmas/day-22-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item23 {
  background-image: url("../../assets/images/h-point-christmas/day-23-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item23.on {
  background-image: url("../../assets/images/h-point-christmas/day-23-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item24 {
  background-image: url("../../assets/images/h-point-christmas/day-24-off.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item24.on {
  background-image: url("../../assets/images/h-point-christmas/day-24-on.png");
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item1 {
  grid-area: 1/1/2/4;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item2 {
  grid-area: 1/4/2/7;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item3 {
  grid-area: 2/1/3/3;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item4 {
  grid-area: 3/1/4/3;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item5 {
  grid-area: 4/1/5/3;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item6 {
  grid-area: 2/3/5/4;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item7 {
  grid-area: 2/4/3/6;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item8 {
  grid-area: 3/4/5/6;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item9 {
  grid-area: 2/6/5/7;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item10 {
  grid-area: 5/1/7/3;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item11 {
  grid-area: 5/3/6/7;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item12 {
  grid-area: 6/3/7/7;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item13 {
  grid-area: 7/1/10/2;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item14 {
  border: 2px solid #651111;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item14.on {
  border: 2px solid #982716;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item15 {
  grid-area: 8/2/10/3;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item16 {
  grid-area: 7/3/10/5;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item17 {
  grid-area: 7/5/8/7;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item18 {
  grid-area: 8/5/9/7;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item19 {
  grid-area: 9/5/10/7;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item20 {
  grid-area: 10/1/11/4;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item21 {
  grid-area: 10/4/11/7;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item22 {
  grid-area: 11/1/13/3;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item23 {
  grid-area: 11/3/12/7;
}
.h-point-christmas .section.calendar .section-body .calendar-wrap .calendar-body .day-item.item24 {
  grid-area: 12/3/13/7;
}
.h-point-christmas .section.calendar .section-body + .section-util {
  margin-top: 10.666vw;
}
.h-point-christmas .section.calendar .section-util {
  position: relative;
  z-index: 1;
}
.h-point-christmas .section.calendar .section-util .btn {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 89.333vw;
  height: 18.133vw;
}
.h-point-christmas .section.calendar .section-util .btn .btn-text {
  font-size: 5.333vw;
  font-weight: 800;
  line-height: 150%;
  text-align: center;
  color: #FFF;
  width: 100%;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.h-point-christmas .section.calendar .section-util .btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/h-point-christmas/check-button.png") no-repeat center center;
  background-size: cover;
}
.h-point-christmas .section.notice {
  background-color: #131E22;
  padding: 8vw 5.333vw;
  z-index: 97;
}
.h-point-christmas .section.notice .notice-list .list-item {
  position: relative;
  padding-left: 2.666vw;
  font-weight: 400;
  font-size: 3.466vw;
  line-height: 130%;
  color: #BBB;
}
.h-point-christmas .section.notice .notice-list .list-item + .list-item {
  margin-top: 2.666vw;
}
.h-point-christmas .section.notice .notice-list .list-item::before {
  content: "";
  width: 1.066vw;
  height: 1.066vw;
  position: absolute;
  top: 1.733vw;
  left: 0;
  background-color: #bbb;
  border-radius: 100%;
}
@keyframes swaying-curtain1 {
  0% {
    transform: rotate(-0.15deg);
  }
  50% {
    transform: rotate(0.15deg);
  }
  100% {
    transform: rotate(-0.15deg);
  }
}
@keyframes swaying-curtain2 {
  0% {
    transform: rotate(0.15deg);
  }
  50% {
    transform: rotate(-0.15deg);
  }
  100% {
    transform: rotate(0.15deg);
  }
}
.h-point-christmas .modal-display {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  pointer-events: none;
  z-index: 9999;
}
.h-point-christmas .modal-display.show {
  display: block;
}
.h-point-christmas .modal-display .modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.h-point-christmas .modal-display .modal.design1 .modal-inner {
  width: 91.466vw;
  height: 92.317vh;
  border: 2px solid #F0DFA9;
  border-radius: 4px;
  position: relative;
  background: url("../../assets/images/h-point-christmas/modal-bg-color.png") no-repeat center center;
  background-size: cover;
  pointer-events: auto;
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 5vw;
}
.h-point-christmas .modal-display .modal.design1 .modal-inner::before, .h-point-christmas .modal-display .modal.design1 .modal-inner::after {
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
}
.h-point-christmas .modal-display .modal.design1 .modal-inner::before {
  height: 49.6vw;
  background: url(../../assets/images/h-point-christmas/modal-shawl.png) no-repeat center center;
  background-size: cover;
  top: 0;
  left: 0;
}
.h-point-christmas .modal-display .modal.design1 .modal-inner::after {
  height: 57.866vw;
  background: url(../../assets/images/h-point-christmas/modal-bg-star.png) no-repeat center center;
  background-size: cover;
  top: 30.666vw;
  left: 0;
}
.h-point-christmas .modal-display .modal.design1 .modal-area {
  display: none;
  position: relative;
  z-index: 99;
}
.h-point-christmas .modal-display .modal.design1 .modal-area.on {
  display: block;
}
.h-point-christmas .modal-display .modal.design1 .modal-area.gift-box .modal-figure {
  position: absolute;
  top: 44.266vw;
  left: 50%;
  transform: translateX(-50%);
}
.h-point-christmas .modal-display .modal.design1 .modal-area.gift-box .modal-figure .gift-btn {
  display: block;
  width: 47.466vw;
  height: 35.2vw;
}
.h-point-christmas .modal-display .modal.design1 .modal-area.gift-box .modal-figure .gift-btn img {
  width: 100%;
  height: 100%;
}
.h-point-christmas .modal-display .modal.design1 .modal-area.case1 .modal-figure {
  width: 100%;
  position: absolute;
  top: 32.533vw;
  left: 50%;
  transform: translateX(-50%);
}
.h-point-christmas .modal-display .modal.design1 .modal-area.case1 .modal-figure img {
  width: 100%;
}
.h-point-christmas .modal-display .modal.design1 .modal-area.case1 .modal-fuc .fuc-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74.666vw;
  padding: 4.266vw;
  border-radius: 100px;
  border: 1px solid #FFF5B1;
  background: linear-gradient(0deg, #9A150F 0%, #9A150F 100%), linear-gradient(92deg, #CBAC64 13.18%, #BC8641 90.15%);
}
.h-point-christmas .modal-display .modal.design1 .modal-area.case1 .modal-fuc .fuc-btn .btn-text {
  text-align: center;
  font-size: 5.333vw;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
}
.h-point-christmas .modal-display .modal.design1 .modal-area .modal-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.h-point-christmas .modal-display .modal.design1 .modal-area .modal-inform {
  margin-top: 101.333vw;
}
.h-point-christmas .modal-display .modal.design1 .modal-area .modal-inform .modal-head .modal-subject {
  display: block;
  font-size: 6.933vw;
  font-weight: 800;
  line-height: 150%;
  color: #fff;
  text-align: center;
}
.h-point-christmas .modal-display .modal.design1 .modal-area .modal-inform .modal-head + .modal-body {
  margin-top: 2.256vw;
}
.h-point-christmas .modal-display .modal.design1 .modal-area .modal-inform .modal-body .para {
  font-size: 4.8vw;
  font-weight: 400;
  line-height: 150%;
  color: #DDD;
  text-align: center;
}
.h-point-christmas .modal-display .modal.design1 .modal-area .modal-inform .modal-body .bullet-list {
  width: 75.733vw;
  padding: 4.266vw;
  background-color: rgba(0, 0, 0, 0.3);
}
.h-point-christmas .modal-display .modal.design1 .modal-area .modal-inform .modal-body .bullet-list .bullet-item {
  position: relative;
  padding-left: 2.133vw;
  font-size: 3.466vw;
  line-height: 150%;
  color: #DDD;
}
.h-point-christmas .modal-display .modal.design1 .modal-area .modal-inform .modal-body .bullet-list .bullet-item + .bullet-item {
  margin-top: 1.6vw;
}
.h-point-christmas .modal-display .modal.design1 .modal-area .modal-inform .modal-body .bullet-list .bullet-item::before {
  content: "";
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 100%;
  background-color: #DDD;
  position: absolute;
  left: 0;
  top: 2vw;
}
.h-point-christmas .modal-display .modal.design1 .modal-area .modal-inform + .modal-fuc {
  margin-top: 4.795vh;
}
/*# sourceMappingURL=h-point-ch.css.map */
